* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

body {
    background-color: #f8f8f8;
    color: #333;
}   

.header {
    background-color: #ff6b6b;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

.header img {
    max-width: 50px;
    margin-right: 250px;
    margin-top: -5px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: white;
    margin-top: -44px;
}

.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    flex: 1 0 18%;
    max-width: 300px;
    width: 200px;
    text-decoration: none;
}

.pokemon-card:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    color: #0011ff;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card span {
    font-size: 1em;
    color: #666;
}

.pokemon-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pokemon-detail img {
    width: 200px;
    height: 200px;
}
.pokemon-detail:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.pokemon-info {
    text-align: center;
    margin-top: 20px;
}

.pokemon-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.pokemon-info p {
    font-size: 1.2em;
    color: #666;
    margin: 5px 0;
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #225dff;
    color: white;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 600px) {
    .pokemon-card {
        width: 100%;
        margin: 10px 0;
    }
}
